<header>
    <nav>
        <div class="logo nav-item">
            <p>myFace</p>
        </div>
        <a class='nav-item' href="/posts">Posts</a>
        <a class='nav-item' href="/users">Users</a>
    </nav>
</header>