<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header>
    <nav class="top-nav">
        <div class="logo">
            <a href="#home" class="active">myFace</a>
            <!-- <p>myFace</p> -->
        </div>
        <div class="nav-item">
            <a href="/posts">Posts</a>
            <a class='nav-item-sub-link' href="/posts/create">+ New Post</a>
            <a href="/users">Users</a>
            <a class='nav-item-sub-link' href="/users/create">+ New User</a>
            </div>
        <a href="javascript:void(0);" class="icon" onclick="displayNav()">
            <i class="fa fa-bars"></i>
          </a>
        <!-- <a class='nav-item' href="/posts">Posts</a> -->
        <!-- <a class='nav-item' href="/users">Users</a> -->
    </nav>
</header>