/* Add your styles here. */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import 'profile.css';
@import 'user-list.css';
@import 'posts.css';

body {
    font-family: 'Poppins', sans-serif;
    background-color: #222732;
    color: white;
    padding: 0;
    margin: 0;
}

nav {
    background-color: #222732;
    width: 100%;
    margin: 0;
    padding-left: 2em;
    position: sticky;
}
nav a {
    text-decoration: none;
    color: white;
    margin-left: 2em;
}