.cover-image {
    height: 30vh;
}
li {
    list-style: none;
}
.cover-container {
    position: relative;
}
.profile-container {
    display: flex;
    justify-content: flex-start;
    /* margin-left: 4em; */
    position: absolute;
    top: 15em;
    width: 100vw;
    background: rgba(37, 42, 56, 0.56);
}
.profile-image {
    border-radius: 50%;
    border: 0.1em solid white;
}
.user-heading {
    display: flex;
    flex-direction: column;
    /* background: rgba(37, 42, 56, 0.56); */
    font-size: 1em;
    padding-right: 3em;
}
div.user-heading {
    padding-right: 1.5em;
}

.user-heading h1 {
    font-size: 1em
}

.user-heading li {
    font-size: 0.7em;
}

@media only screen and (min-width: 320px) and (max-width: 400px) {
    .user-heading h1 {
        font-size: 0.5em;
    }
    .img-container img {
        width: 4em;
        height: 4em;
    }
}

.posts-title {
    margin-top: 10em;
}
.user-info {
    margin-top: 3em;
}
.user-post-info {
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.user-post-card {
    background: #323c48;
    margin-bottom: 1em;
    border-radius: 15px;
}